.b-filter {
    display: flex;

    margin: 0;
    padding: 0;

    justify-content: center;
    list-style: none;
}

.b-filter__item {
    box-sizing: border-box;
    width: 111px;

    cursor: pointer;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    border-left: 1px solid #4a4a4a;
    text-align: center;

    font-size: 12px;
    line-height: 22px;
}

.b-filter__item_active {
    cursor: default;

    background: #4a4a4a;
    color: #fff;
}

.b-filter__item:last-child {
    border-right: 1px solid #4a4a4a;
}
