.b-app {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;

    color: #4a4a4a;

    font: 14px/1.5 Roboto;
}

.b-app__filter {
    margin-bottom: 24px;
}

.b-app__todo-form {
    margin-bottom: 24px;
}
